# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/Ejercicio32DividirBilletes/nbproject/private/
/Ejercicio32DividirBilletes/build/
/Ejercicio27CuadradoYCubo/nbproject/private/
/Ejercicio27CuadradoYCubo/build/
/Tema3/nbproject/private/
/Tema3/build/
/Ejercicio01PositivoNegativo/nbproject/private/
/Ejercicio01PositivoNegativo/build/
/Ejercicio02MultiplicacionSuma/nbproject/private/
/Ejercicio02MultiplicacionSuma/build/
/Ejercicio03MayorNum/nbproject/private/
/Ejercicio03MayorNumero/nbproject/private/
/Ejercicio03MayorNumero/build/
/Ejercicio04MenosNumero/nbproject/private/
/Ejercicio04MenosNumero/build/
/ejercicio05ParImpar/nbproject/private/
/ejercicio05ParImpar/build/
/ejercicio06NotaAlumno/nbproject/private/
/ejercicio06NotaAlumno/build/
/ejercicio07DiaSemana/nbproject/private/
/ejercicio07DiaSemana/build/
/ejercicio08Billetes/nbproject/private/
/ejercicio08Billetes/build/
/ejercicio09Creciente/nbproject/private/
/ejercicio09Creciente/build/
/ejercicio11BucleHola/nbproject/private/
/ejercicio11BucleHola/build/
/ejercicio12ParesDoWhile/nbproject/private/
/ejercicio12ParesDoWhile/build/
/ejercicio13ParesWhile/nbproject/private/
/ejercicio13ParesWhile/build/
/ejercicio14ParesHasta100/nbproject/private/
/ejercicio14ParesHasta100/build/
/ejercicio15TablaMultiplicar/nbproject/private/
/ejercicio15TablaMultiplicar/build/
/ejercicio16Impares20Hasta160/nbproject/private/
/ejercicio16Impares20Hasta160/build/
/ejercicio27MenuExcepciones/nbproject/private/
/ejercicio27MenuExcepciones/build/
/Tema4/nbproject/private/
/Tema4/build/
/ejercicio01MetodoPositivoNegativo/nbproject/private/
/ejercicio01MetodoPositivoNegativo/build/
/ejercicio02Mayor10Multiplica/nbproject/private/
/ejercicio02Mayor10Multiplica/build/
/ejercicio03MetodoMayorNum/nbproject/private/
/ejercicio03MetodoMayorNum/build/
/ejercicio04MetodoMenorNum/nbproject/private/
/ejercicio04MetodoMenorNum/build/
/ejercicio05MetodoParImpar/nbproject/private/
/ejercicio05MetodoParImpar/build/
/ejercicio06MetodoNotaAlumno/nbproject/private/
/ejercicio06MetodoNotaAlumno/build/
/ejercicio07MetodoCreciente/nbproject/private/
/ejercicio07MetodoCreciente/build/
/ejercicio08MetodoDividirBilletes/nbproject/private/
/ejercicio08MetodoDividirBilletes/build/
/ejercicio09MetodoMenorNumMetodoPedirNum/nbproject/private/
/ejercicio09MetodoMenorNumMetodoPedirNum/build/
/ejercicio10MetodoTablaMultiplicar/nbproject/private/
/ejercicio10MetodoTablaMultiplicar/build/
/ejerrcicio20Examen/nbproject/private/
/ejerrcicio20Examen/build/
/EjerciciosTema4/ejercicio26BuscarPrimo/nbproject/private/
/EjerciciosTema4/ejercicio26BuscarPrimo/build/
/EjerciciosTema4/ejercicio14Multiplos3/nbproject/private/
/EjerciciosTema4/ejercicio14Multiplos3/build/
/Tema5/ApuntesTema05/nbproject/private/
/Tema5/ApuntesTema05/build/
/Tema5/ejercicio16ObjetoNota/nbproject/private/
/Tema5/colaDeCorreos/nbproject/private/
/Tema5/colaDeCorreos/build/
/ExamenRA1-3/ExamenMenuNaveEspacial/target/
/Ra1-3-Examen/examenMenuEspacial/nbproject/private/
/Ra1-3-Examen/examenMenuEspacial/build/
/Ra1-3-Examen/ejercicio01ObjetoCoche/nbproject/private/
/Ra1-3-Examen/ejercicio19SueldoEmpleado/nbproject/private/
/Ra1-3-Examen/ejercicio19SueldoEmpleado/build/
/Tema5/Ejercicio23/nbproject/private/
/Tema5/Ejercicio23Vehiculos/nbproject/private/
/Tema6/ApuntesTema06/nbproject/private/
/Tema6/Ejercicio04Animales/nbproject/private/
/Tema6/ConversorPoy/nbproject/private/
/Tema6/ConversorPoy/build/
/Tema6/Ejercicio04Animales/build/
/Tema6/Ejercicio01Calculadora/nbproject/private/
/Tema6/Ejercicio01Calculadora/build/
/Tema6/Ejercicio05Mamifero/nbproject/private/
/Tema6/Ejercicio05Mamifero/build/
